<!DOCTYPE html>
<html>
<head>
    <title>Complaint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">
    <h2>Register Complaint</h2>

    <form method="POST" action="/submit_complaint">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Room No</label>
        <input type="text" name="room_no" required>

        <label>Complaint</label>
        <textarea name="complaint" required></textarea>

        <button type="submit">Submit Complaint</button>
    </form>
</div>

</body>
</html>
