<!DOCTYPE html>
<html>
<head>
    <title>Complaint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>Complaint Registration</header>

<div class="form-container">
    <form action="/submit_complaint" method="post">

        <input type="text" name="name" placeholder="Student Name" required>

        <input type="text" name="room_no" placeholder="Room Number" required>

        <textarea name="complaint" placeholder="Enter your complaint" required></textarea>

        <button type="submit">Submit Complaint</button>
    </form>
</div>

</body>
</html>
