<!DOCTYPE html>
<html>
<head>
    <title>Leave Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="leave-page">

<header>Leave Application</header>

<div class="form-wrapper">
    <form method="POST" action="/submit_leave">

        <label>Register Number</label>
        <input type="text" name="register_no" required>

        <label>Student Name</label>
        <input type="text" name="name" required>

        <label>Mobile Number</label>
        <input type="text" name="mobile" required>

        <label>Reason for Leave</label>
        <textarea name="reason" required></textarea>

        <label>From Date</label>
        <input type="date" name="from_date" required>

        <label>To Date</label>
        <input type="date" name="to_date" required>

        <button type="submit">Submit Leave</button>

    </form>
</div>

</body>
</html>
